*{padding: 0; margin: 0; box-sizing: border-box;}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #231f20;
}

input, button{
    border: none;
}

button{
    cursor: pointer;
}

a{
    color: rgba(248, 248, 248, 0.733);
    text-decoration: none;
}

a:hover{
    color: rgb(226, 147, 28);
    transition: .5s;
}
